node_modules
.next/package.json
.next/routes-manifest.json
.next/trace
.next/cache/config.json
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/font-manifest.json
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/chunks/39.js
.next/server/chunks/129.js
.next/server/chunks/398.js
.next/server/chunks/524.js
.next/server/chunks/527.js
.next/server/chunks/638.js
.next/server/chunks/659.js
.next/server/chunks/664.js
.next/server/chunks/675.js
.next/server/chunks/676.js
.next/server/chunks/825.js
.next/server/chunks/834.js
.next/server/chunks/859.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/about.js
.next/server/pages/about.js.nft.json
.next/server/pages/articles.js
.next/server/pages/articles.js.nft.json
.next/server/pages/index.js
.next/server/pages/index.js.nft.json
.next/server/pages/projects.js
.next/server/pages/projects.js.nft.json
.next/server/pages/speaking.js
.next/server/pages/speaking.js.nft.json
.next/server/pages/thank-you.js
.next/server/pages/thank-you.js.nft.json
.next/server/pages/uses.js
.next/server/pages/uses.js.nft.json
.next/server/pages/articles/crafting-a-design-system-for-a-multiplanetary-future.js
.next/server/pages/articles/crafting-a-design-system-for-a-multiplanetary-future.js.nft.json
.next/server/pages/articles/introducing-animaginary.js
.next/server/pages/articles/introducing-animaginary.js.nft.json
.next/server/pages/articles/rewriting-the-cosmos-kernel-in-rust.js
.next/server/pages/articles/rewriting-the-cosmos-kernel-in-rust.js.nft.json
